.displayName {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}
.container {
  width: 100%;
}
.dashboard {
  display: flex;
  width: 100%;
  justify-content: center;
}
.mainContent {
  display: flex;
  width: 80%;

  /* justify-content: space-between; */
}
main {
  /* background-color: red; */
  padding: 2rem;
}

@media only screen and (max-width: 800px) {
  .dashboard {
    flex-direction: column-reverse;
  }
}

@media only screen and (min-width: 800px) {
}
