.container {
  padding: 2em;
}

.container label {
  font-size: 2rem;
}

.checkbox {
  width: 30px;
  height: 30px;
  margin-left: 0.5rem;
}
.targetLanguage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.searchQuery {
  font-size: 1.2rem;
  width: 100%;
  padding: 0.3rem;
}
.informUser p {
  font-size: 1rem;
}

@media only screen and (min-width: 900px) {
  .wordList {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
  }
  .container section {
    width: 60vw;
  }
}
