.audioContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.audioContainer button {
  margin-bottom: 1rem;
}
.expandedWord {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
}
.wordMeaning {
  font-size: 1.5rem;
}

@media only screen and (min-width: 1000px) {
  .expandedWord {
    font-size: 3rem;
  }
}
